<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
    <!-- Your header content -->
    <h1>{{ site.name }}</h1>
  </header>

  <main>
    <h2>{{ page.title }}</h2>
    <div class="posts">
      <h1>Top 10 Posts</h1>
      {% for post in site.posts limit:10 %}
        <article class="post">
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
          <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
          <div class="entry">
            {{ post.excerpt }}
          </div>
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </article>
      {% endfor %}
    </div>
  </main>

  <footer>
    <!-- Footer content -->
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.name }}. All rights reserved.</p>
  </footer>
</body>
</html>
